<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of WIXNET.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with WIXNET
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.young_hanabackend.fend.mapper.CommunityBoardMapper">

    <select id="selectCommunityBoardList" resultType="com.example.young_hanabackend.entity.CommunityBoard">
        SELECT
            (SELECT cs.UI_student_no FROM COMMUNITY_SERVICE cs WHERE cs.CB_no = cb.CB_no) AS 'student_no',
            (SELECT AES_DECRYPT(FROM_BASE64(UI_name), '${encryptionKey}') FROM USER_INFO WHERE UI_student_no = student_no) AS 'writer',
            cb.CB_no, cb.CB_title, cb.CB_cr_date FROM COMMUNITY_BOARD cb
        WHERE cb.CB_delete_T_F = false AND cb.CB_topic = ${topic}
        ORDER BY cb.CB_no DESC
            LIMIT ${limit_start}, ${limit_end}
    </select>

    <select id="selectCommunityBoard" resultType="com.example.young_hanabackend.entity.CommunityBoard">
        SELECT
            (SELECT cs.UI_student_no FROM COMMUNITY_SERVICE cs WHERE cs.CB_no = cb.CB_no) AS 'student_no',
            (SELECT AES_DECRYPT(FROM_BASE64(UI_name), '${encryptionKey}') FROM USER_INFO WHERE UI_student_no = student_no) AS 'writer',
            cb.CB_no, cb.CB_title, cb.CB_content, cb.CB_cr_date FROM COMMUNITY_BOARD cb
            WHERE cb.CB_no = ${board_no} AND cb.CB_delete_T_F = false
    </select>

    <insert id="insertCommunityBoard" parameterType="com.example.young_hanabackend.entity.CommunityBoard">
        INSERT INTO COMMUNITY_BOARD (CB_title, CB_content, CB_topic)
        VALUES
            (
            '${CB.CB_title}',
            '${CB.CB_content}',
            '${CB.CB_topic}'
            );

        INSERT INTO COMMUNITY_SERVICE (UI_student_no, CB_no)
        VALUES
        (
        '${CB.student_no}',
        (SELECT LAST_INSERT_ID() FROM COMMUNITY_BOARD LIMIT 0, 1)
        );
    </insert>

</mapper>
