<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of WIXNET.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with WIXNET
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.young_hanabackend.fend.mapper.CommunityCommentMapper">

    <select id="selectCommunityCommentList" resultType="com.example.young_hanabackend.entity.CommunityComment">
        SELECT CC_no, UI_student_no, CC_content, CC_cr_date FROM COMMUNITY_COMMENT WHERE CB_no = ${board_no} AND CC_delete_T_F = false
    </select>

    <insert id="insertCommunityComment" parameterType="com.example.young_hanabackend.entity.CommunityComment">
        INSERT INTO COMMUNITY_COMMENT (UI_student_no, CB_no, CC_content)
        VALUES
            (
             ${CC.UI_student_no},
             ${CC.CB_no},
             '${CC.CC_content}'
            )
    </insert>

    <update id="deleteCommunityComment" parameterType="int">
        UPDATE COMMUNITY_COMMENT
        SET
            CC_delete_T_F = true
        WHERE CC_no = ${comment_no} AND UI_student_no = ${student_no} AND CB_no = ${board_no}
    </update>

    <select id="selectMyCommunityComment" resultType="int">
        SELECT COUNT(*) FROM COMMUNITY_COMMENT WHERE CC_no = ${comment_no} AND UI_student_no = ${student_no} AND CB_no = ${board_no}
    </select>

</mapper>
