<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019.
  ~ All right reserved.
  ~
  ~ This software is the confidential and proprietary information of WIXNET.
  ~ You shall not disclose such Confidential Information and
  ~ shall use it only in accordance with the terms of the license agreement
  ~ you entered into with WIXNET
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.young_hanabackend.security.mapper.AccountMapper">

    <select id="selectAccountCount" resultType="int">
        SELECT COUNT(*) FROM USER_INFO WHERE UI_student_no = #{student_no}
    </select>

    <insert id="insertAccount" parameterType="map">
        INSERT INTO USER_INFO (UI_student_no, UI_name, UI_birth, UI_email, UI_phone_no, UI_pw, UI_group, UI_role)
        VALUES
            (
                ${user.UI_student_no},
                TO_BASE64(AES_ENCRYPT('${user.UI_name}', '${encryptionKey}')),
                TO_BASE64(AES_ENCRYPT('${user.UI_birth}', '${encryptionKey}')),
                TO_BASE64(AES_ENCRYPT('${user.UI_email}', '${encryptionKey}')),
                TO_BASE64(AES_ENCRYPT('${user.UI_phone_no}', '${encryptionKey}')),
                TO_BASE64(AES_ENCRYPT('${user.UI_pw}', '${encryptionKey}')),
                '${user.UI_group}',
                0
             )
    </insert>

    <select id="selectAccountStudentNoAndPw" resultType="String">
        SELECT AES_DECRYPT(FROM_BASE64(UI_pw), '${encryptionKey}') FROM USER_INFO
        WHERE UI_student_no = #{student_no}
    </select>

</mapper>
